#checkout-form {
    position: relative;
    margin-top: 30px;
    width: 100%;
}

#checkout-form label {
    display: block;
    min-height: 25px;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
    padding: 0;
    color: rgba(224, 80, 67, 1);
}

#card-number, #card-cvv, #card-expiry {
    display: block;
    width: 100%;
    border-radius: 2px;
    border: 1px solid rgba(200, 200, 200, 1);
    margin: 5px 0;
    transition: all 100ms ease-out;
    line-height: 0;
}

/* card images are added to card number */
#card-number {
    background-image: none;
    background-origin: content-box;
    background-position: calc(100% - 15px);
    background-repeat: no-repeat;
    background-size: 50px;
}

iframe[name='bambora-card-number-iframe'] {
    width: calc(100% - 75px);
}

.field-error {
    border: 1px solid rgba(224, 80, 67, 1) !important;
}

.field-complete {
    border: 1px solid rgba(91, 181, 99, 1) !important;
}

/* buttons */
.btn {
    vertical-align:top;
}

.btn {
  position: relative;
  border: none;
  border-radius: 4px;
  background-color: rgba(120, 71, 181, 1);
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  transition: all 100ms ease-out;
  padding: 11px 25px;
}

.btn:hover, .btn:active {
    background-color: rgba(69, 36, 89, 1);
}

.btn:active {
    box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.3);
}

.btn:disabled {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(120, 71, 181, 1);
    color: rgba(120, 71, 181, 1);
}

/* feedback is displayed after tokenization */
#feedback {
    position: relative;
    left: 15px;
    display: inline-block;
    background-color: transparent;
    border: 0px solid rgba(200, 200, 200, 1);
    border-radius: 4px;
    transition: all 100ms ease-out;
    padding: 11px;
}

#feedback.error {
    color: rgba(224, 80, 67, 1);
    border: 1px solid;
}

#feedback.success {
    color: seagreen;
    border: 1px solid;
}
