
@media only screen and (min-width: 800px) {
    /* tablets and desktop */
    .main {
      width: 800px;
      margin: 0 auto;
    }
}

@media only screen and (max-width: 800px) {
    /* phones */
    .main {
      margin: 0 9px;
    }

}

table.table.table-highlight, .nav-pane {
  margin-bottom: 24px;
}

.nav-pane.secondary {
  box-shadow: none;
  padding: 0;
  margin-bottom: 12px;
}

.nav-pane.secondary > .pull-left.nav-links > a:first-child {
  padding-left: 0;
}

.nav-pane.secondary > .pull-left.nav-links > a:first-child:after {
  left: 0;
}

.block {
  display:none;
  margin-bottom: 24px;
}

.block.visible {
  display:block;
}

/* CheckoutFields */
.form-group > div {
  font-family: "Fakt Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  color: rgba(30, 30, 30, 1);
  display: block;
  width: calc(100%);
  border-radius: 2px;
  border: 1px solid rgba(200, 200, 200, 1);
  padding: 14px 60px 13px 20px;
  margin-bottom: 5px;
  transition: all 100ms ease-out;
}

#card-number {
  background-image: url('../images/card-outline.svg');

  background-origin: content-box;
  background-position: calc(100% + 40px) center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* CheckoutFields */

.processing-screen.visible {
  display:flex;
}

.processing-screen {
  display:none;
  z-index:1000000;
  background: rgba(0,0,0,.1);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.message {
  display: none;
}

.message.visible {
  display: block;
}

#more-button-area {
  text-align: center;
}

#more-button {
  border-style: none;
  background: none;
  color: rgba(120, 71, 181, 1);
  margin: 0 0 10px 0;
}

#more-button:hover {font-weight: bold;}

#grow {
  text-align: left;
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  height: 0;
  overflow: hidden;
}

pre.prettyprint {
  border: 0 !important;
}

.checkbox {
  padding-top: 20px;
}
