body {
  background-color: #f6f6f6;
}

/* --- spinner --- */
#page-wrapper.page-loading {
  display: none;
}

#spinner-overlay {
  position: fixed !important;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color:rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade {
  opacity:0;
  transition: opacity .25s;
}

/* --- header --- */
.nav-pane-container{
  width: 570px;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto ;
}

.nav-pane-container > .nav-links > span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 9px;
    font-weight: 400;
    padding: 18px 0;
    float: left;
    color: #9197a3;
    height: 58px;
    position: relative;
}

/* --- panel wrapper --- */
.container {
  width: 570px;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

#response-panel.container {
  display: none;
}

.container > p {
  margin-bottom: 10px;
}


/* --- panels --- */
.message {
  background-color: #fff;
  padding: 0 10px;
}

.message > .message-title {
  margin-bottom: 0;
  cursor: pointer;
}

.message > .message-title > .card-icon-row {
  height:49px;
}

.message > .message-title > .card-icon-row > .card-icon {
  height:29px;  margin: 10px 0; box-sizing: border-box;
}

/*
.message > .message-content {
    position: relative !important;
}

.message > .message-content:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    border-top: 1px solid rgba(200, 200, 200, 1);
}
*/

.message-content{
  margin-top: 5px;
  padding: 34px;
}

#payment-panels .message-content{
  display: none;
}

.message > .message-title, .input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-row > div{
  width: calc(50% - 5px);
}


/* --- footer --- */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer > div {
  display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 1px;
}

.footer > div > img {
  margin-left: 4px;
}



/*
*
*/
.test-cards {
  margin-top: 24px;
}

.test-cards > p {
  color: #9197a3;
}

.test-cards > p a:not(.btn) {
    color: #9197a3;
    border-bottom: #9197a3 1px solid;
}

/* --- customcheckout --- */
.bambora-checkoutfield {
  border-radius: 4px;
  border: 1px solid rgba(200, 200, 200, 1);
  line-height: 0;
}

.bambora-checkoutfield-focus
{
  border-color: rgba(130, 71, 181, 1);
}

.bambora-checkoutfield-error
{
  border-color: rgba(224, 80, 67, 1) !important;
}

.bambora-checkoutfield-complete
{
  border-color: rgba(91, 181, 99, 1) !important;
}

/* --- response panel --- */
#response-panel-success, #response-panel-fail{
  display: none;
}

.response.message-content {
  display: block;
}

/* --- visa checkout button --- */
.v-learn.v-learn-defaulty {
    margin-right: 4px;
    font-size: 12px;
    text-transform: capitalize;
    color: rgb(0, 62, 169);
    cursor: pointer;
    text-decoration: none;
    display: block;
}
