<script src='https://libs.na.bambora.com/customcheckout/1/customcheckout.js'></script>

<form id="checkout-form">
    <div id="card-number"></div>
    <label for="card-number" id="card-number-error"></label>

    <div id="card-cvv"></div>
    <label for="card-cvv" id="card-cvv-error"></label>

    <div id="card-expiry"></div>
    <label for="card-expiry" id="card-expiry-error"></label>

    <input id="pay-button" type="submit" class="btn btn-primary disabled" value="Pay" disabled="true"/>

    <div id="feedback"></div>
</form>
