<head lang="en">
  <meta charset="UTF-8">
  <title>Example checkout</title>
  <meta name="description" content="Bambora NA Payment API demo.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dist/ui.bambora.1.2.0.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/apple-pay.css') }}">
</head>
