<div id="interac-block" class="block">
    <p>The INTERAC Online service is a payment option that allows you to pay for goods and services on the Internet
        directly from your bank account.
        <a href="">Learn more...
            <span class="sr-only">Opens in a new window. External site may not meet accessibility guidelines.</span>
        </a>
    </p>
    <p>NOTE: The INTERAC Online service is currently ONLY available to cardholders of these financial institutions
        (other financial institution may be added shortly):</p>
    <ul>
        <li>BMO Bank of Montréal</li>
        <li>RBC Royal Bank</li>
        <li>Scotiabank</li>
        <li>TD Canada Trust</li>
    </ul>
    <p>To continue, click on the 'PURCHASE' button below. You will be asked to select your financial institution,
        then will be directed to your financial institution's website to complete your payment.
        Upon completing your payment, you will be redirected back to our website to obtain your booking
        reference.</p>
    <p>® Trademark of Interac Inc. Used under licence.</p>
    <form id="interacPaymentForm">
        <input id="interac_invoice" type="hidden" name="order_number"/>
        <input id="interac_amount" type="hidden" name="amount"/>
        <input type="submit" class="btn btn-default" value="Pay with Interac"/>
    </form>
</div>