<div class="message">
  <div id="b4" class="message-title">
    <form>
      <div class="radio">
        <input type="radio" name="radios">
        <label>Masterpass</label>
      </div>
    </form>
    <div class="card-icon-row">
      <img class="card-icon" src="{{ url_for('static', filename='images/masterpass.png') }}"/>
    </div>
  </div>
  <div class="message-content">
    <p>Coming soon...</p>
    <p>Masterpass is a digital wallet that allows consumers to pay with any payment card, on a website or app, with any device.</p>
  </div>
</div>
