<div id="response-panel-success" class="container">
  <div class="message">
      <div class="response message-content">

          <h3>Payment approved - hooray!</h3>
          <table class="table">
            <tbody>
              <tr>
                <td>Transaction ID</td>
                <td><input type="text" id="response-id" class="no_border no-outline left field" readonly></td>
              </tr>
              <tr>
                <td>Bank response</td>
                <td><input type="text" id="response-bank" class="no_border no-outline left field" readonly></td>
              </tr>
              <tr>
                <td>CVV response</td>
                <td><input type="text" id="response-cvv" class="no_border no-outline left field" readonly></td>
              </tr>
              <tr>
                <td>AVS response</td>
                <td><input type="text" id="response-avs" class="no_border no-outline left field" readonly></td>
              </tr>
            </tbody>
          </table>

      </div>
  </div>
</div>

<div id="response-panel-fail" class="container">
  <div class="message">
      <div class="response message-content">

          <h3>Payment declined - dohh!</h3>
          <table class="table">
            <tbody>
              <tr>
                <td>Error message</td>
                <td><input type="text" id="response-error-message" class="no_border no-outline left field" readonly></td>
              </tr>
            </tbody>
          </table>

      </div>
  </div>
</div>

<style>
  .no_border {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
  }
      
  .no-outline:focus {
    outline: none;
  }
</style>