<div>
    <h5>Additional Notes</h5>
    <ul>
        <li>In order to test Masterpass, you will need to set up a test account with Mastercard.  On the Checkout
            form, click on the Masterpass logo and follow the instructions.  You can use any test card number.</li>
        <li>In order to test Visa Checkout, you will need to set up a test account with Visa.  On the Checkout
            form, click on the Visa Checkout logo and follow the instructions.  You can use any test card number.</li>
        <li>For testing Interac Online, you can use any bank account information.</li>
    </ul>
</div>
