<script>
  var VISA_CHECKOUT_API_KEY = "{{ api_key }}";
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src='https://libs.na.bambora.com/customcheckout/1/customcheckout.js' integrity="sha512-VDgPYToFih5q0klt8c8kgDaHgTS3ugHkd9bh7xgrbbmP9oKqeI9/g85Buod6385r8D46wWsiGkTh5SHTylEBRQ==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='scripts/custom-checkout-ctrl.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/checkout-ctrl.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/masterpass-ctrl.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>