<div class="test-cards">
  <p>Try it out using the test card number <strong>4030 0000 1000 1234</strong>,
    the security code <strong>123</strong>, and any expiration date in the future.</p>

  <p>Try a
    <a target="_blank" href="https://www.mastercard.ca/en-ca/business/overview/safety-security/authentication-services/emv-3ds.html">
      3D Secure</a> payment using the test card number
      <strong>4123 4501 3100 3312</strong> and the password <strong>12345</strong>.</p>

  <p>You can find a full list of test cards
    <a target="_blank" href="https://dev.na.bambora.com/docs/references/payment_APIs/test_cards/">here</a>.</p>
</div>
