<div>
    <h5>Test Cards</h5>
    <table class="table table-highlight">
        <thead>
        <tr>
            <th style="white-space:nowrap;">Card Scheme</th>
            <th>Number</th>
            <th>CVV</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr onclick="javascript:copyToClipboard('4030000010001234');">
            <td>Visa</td>
            <td>4030000010001234</td>
            <td>123</td>
            <td>Approved</td>
        </tr>
        <tr onclick="javascript:copyToClipboard('4003050500040005');">
            <td>Visa</td>
            <td>4003050500040005</td>
            <td>123</td>
            <td>Declined</td>
        </tr>
        <tr onclick="javascript:copyToClipboard('4123450131003312');">
            <td>Visa</td>
            <td>4123450131003312</td>
            <td>123</td>
            <td>Approved only when you have implemented Verified by VISA (VbV) and provided a correct password.
                Password: 12345.
            </td>
        </tr>
        </tbody>
    </table>
</div>