<!doctype html>

{% include 'snippets/head.html' %}
{% with tab='apple-pay' %}
    {% include 'snippets/main-nav.html' %}
{%  endwith %}

<div class="main">
    <header class='display'>Payments</header>
    <h1>Payment APIs Demo</h1>
    <p>This payment form is for demo purposes only. It will not charge any cards.
        The UI is intended to demonstrate the different payment experiences for end user.
        The open code base is intended to act as a sample integration for developers to reference.
        You can view the source <a href="https://github.com/bambora/na-payment-apis-demo" target="_blank">here</a>.
    </p>

    <h2>Apple Pay JS</h2>
    <p>Use JavaScript to incorporate Apple Pay into your websites. For more technical info
        visit <a href="https://developer.apple.com/reference/applepayjs">this site</a>.
    </p>
    <p>Refer to the <a href="https://developer.apple.com/apple-pay/web-human-interface-guidelines/" target="_blank">
        Apple Pay on the Web Human Interface Guidelines</a> for information on how to use Apple Pay buttons.
    </p>

    <form>
        <h4>Order Summary</h4>
        <div class="form-group">
            <label for="amount">Amount (CAD)</label>
            <input id="amount" type="text" name="amount" placeholder=""/>
        </div>
        <h4>Your Details</h4>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" placeholder=""/>
        </div>
    </form>

    <h4>Payment Method</h4>

    <!-- /* Template for "Buy with" button with height: 32 */ -->
    <!-- /* HTML */ -->
    <div class="apple-pay-button-with-text apple-pay-button-black-with-text" onclick="applePayButtonClicked()">
      <span class="text">Buy with</span>
      <span class="logo"></span>
    </div>

    &nbsp;<p />

    {% include 'snippets/feedback.html' %}

</div>
{% include 'snippets/footer.html' %}
{% include 'snippets/processing-screen.html' %}
{% include 'snippets/scripts.html' %}
