<!DOCTYPE html>
<html>
  {% include 'snippets/head.html' %}
  <body>
      {% include 'snippets/spinner.html' %}
    <div id="page-wrapper" class="page-loading">
      {% include 'snippets/header.html' %}
      {% include 'snippets/panel-response.html' %}
      <div id="payment-panels" class="container">
        <p>Select a payment method.</p>
        {% include 'snippets/panel-checkout.html' %}
      </div>
      {% include 'snippets/footer.html' %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://libs.na.bambora.com/customcheckout/0.1.1/customcheckout.js'></script>
    <script src="{{ url_for('static', filename='scripts/accordion-ctrl.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/checkout-ctrl.js') }}"></script>
</html>
