<!DOCTYPE html>
<html>
  {% include 'snippets/head.html' %}
  <body>
      {% include 'snippets/spinner.html' %}
    <div id="page-wrapper" class="page-loading">
      {% include 'snippets/header.html' %}
      {% include 'snippets/panel-response.html' %}
      <div id="payment-panels" class="container">
        <p>Select a payment method.</p>
        {% include 'snippets/panel-card.html' %}
        <!--
        {% include 'snippets/panel-apple-pay.html' %}
        {% include 'snippets/panel-android-pay.html' %}
        -->
        {% include 'snippets/panel-visa-checkout.html' %}
        {% include 'snippets/panel-masterpass.html' %}
        {% include 'snippets/panel-interac.html' %}
        {% include 'snippets/panel-funds-transfer.html' %}
      </div>
      {% include 'snippets/footer.html' %}
    </div>
    {% include 'snippets/scripts.html' %}
  </body>
</html>
