<!doctype html>

{% include 'snippets/head.html' %}
{% with tab='basic' %}
    {% include 'snippets/main-nav.html' %}
{%  endwith %}

<div class="main">
    <header class='display'>Payments</header>
    <h1>REST API Demo</h1>
    <p>This payment form is for demo purposes only. It will not charge any cards.
        The UI is intended to demonstrate the different payment experiences for end user.
        The open code base is intended to act as a sample integration for developers to reference.
        You can view the source <a href="https://github.com/Beanstream/rest-api-demo" target="_blank">here</a>.
    </p>

    <h5>Test Cards</h5>
    <table class="table table-highlight">
        <thead>
        <tr>
            <th style="white-space:nowrap;">Card Scheme</th>
            <th>Number</th>
            <th>CVV</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr onclick="javascript:copyToClipboard('4030000010001234');">
            <td>Visa</td>
            <td>4030000010001234</td>
            <td>123</td>
            <td>Approved</td>
        </tr>
        <tr onclick="javascript:copyToClipboard('4003050500040005');">
            <td>Visa</td>
            <td>4003050500040005</td>
            <td>123</td>
            <td>Declined</td>
        </tr>
        </tbody>
    </table>

    <form>
        <h4>Order Summary</h4>
        <div class="form-group">
            <label for="amount">Amount (CAD)</label>
            <input id="amount" type="text" name="amount" placeholder=""/>
        </div>
        <h4>Your Details</h4>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" placeholder=""/>
        </div>
    </form>
    <h4>Payment Method</h4>
    <nav class="nav-pane secondary">
        <div class="pull-left nav-links">
            <a id="card-tag" href="javascript:void(0)" class="active">Credit or Debit Card</a>
        </div>
    </nav>
    <div id="card-block" class="block visible">
        <!-- This form uses PayFields -->
        <form id="cardPaymentForm">
                    <div class="form-group">
                        <label for="card_number">Card Number</label>
                        <div data-beanstream-target='ccNumber_input'></div>
                        <div data-beanstream-target='ccNumber_error' class=''></div>
                    </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="card_expiry">Expiry (mm / yyyy)</label>
                        <div data-beanstream-target='ccExp_input'></div>
                        <div data-beanstream-target='ccExp_error' class=''></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="card_cvv">CVV</label>
                        <div data-beanstream-target='ccCvv_input'></div>
                        <div data-beanstream-target='ccCvv_error' class=''></div>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-default" value="Pay"/>
            <script src='https://payform.beanstream.com/payfields/beanstream_payfields.js' id="payfieldsScript"
                    data-submitForm="false"></script>
        </form>
    </div>

    {% include 'snippets/feedback.html' %}

    <div id="raw-json-wrapper" class="block visible">
        <div id="more-button-area">
            <input type="button" class="btn btn-default" onclick="toggleGrowDiv()" value="Show JSON" id="more-button">
        </div>
        <div id='grow'>
            <div class='measuringWrapper'>
                    Request:
                <pre id="raw-json-request" class="prettyprint lang-js">
{
  "amount": 100
  "payment_method": "token",
  "token": {
    "code": "c51-0431b873-4fae-4eca-b99e-9b4eeb5a84b0",
    "name": "Jane Doe"
  }
}
                </pre>
                    Response:
                <pre id="raw-json-response" class="prettyprint lang-js">
/* Not yet set */
                </pre>
            </div>
        </div>
    </div>

</div>
{% include 'snippets/footer.html' %}
{% include 'snippets/processing-screen.html' %}
{% include 'snippets/scripts.html' %}
